main {
    background-color: lightyellow;
    padding: 30px;
}

h1 {
    color: gray
}

h2 {
    color:lightgray
}

ul {
    font-size: 16px;
}

ol {
    font-size: 16px;
}

ul li:first-child {
    font-weight: bold;
}
