* {
    font-family: 'Oleo Script', cursive;
    font-weight: 100px;
    font-size: 30px;
}

div {
    width: 120px;
    height: 120px;
    display: block;
    background-color: yellow;
}

.caja1 {
    background-color: red ;
    position: relative;
    top: 20px; /* Top y left son las propiedades mas importantes. Se pasan por la raja las siguientes propiedades: bottom and right. Por otra parte adquiere una nueva propiedad llamada Zindex (tb se pueden dar px negativos).*/
    left: -20px;
}

.caja2 {
    background-color: green ; /*Si a esta caja le doy un position relative, esta caja pasará a estar sobre la caja anterior.*/
    position: relative; /*Waaaalá. Pero si yo quisiera cambiar esta situación y que la caja 1 este por encima, debo hacer que Zindex caja1 tenga una cantidad superior a la de Zindex de la caja 2 (que por defecto en ambas es de 0).*/
    z-index: -1;

}

.caja3 {
    background-color: blue;
}

.caja4 {
    background-color: yellow;
}